<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Pong Web Game</a>
        <div class="collapse navbar-collapse justify-content-center"></div>
        <div class="collapse navbar-collapse justify-content-end">
            <button id="createPlayerButton" class="btn btn-outline-primary me-2" type="button" data-bs-toggle="modal" data-bs-target="#createPlayerModal">Create New Player</button>
            <button id="loginButton" class="btn btn-outline-success me-2" type="button">Login</button>
            <button id="tournamentButton" class="btn btn-outline-info" type="button">Tournament</button>
        </div>
    </div>
</nav>
